<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :author %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :book_category %>
    <%= rating_for book, 'rating' ,disable_after_rate:true%>
    <%= f.input :image, as: :file%>
  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
